#main_nav {
  text-align: center;
  height: 6%;
  border-radius: 8px;
  margin-bottom: 50px;
  font-family: "JetBrains Mono",monospace;
  font-size: 16px;
  font-weight: 500;
}

.heading {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

#main_nav a {
    text-decoration: none;
    color: #000000;
}
#main_nav li {
  display: inline-block;
  position: relative;
  height:100%
}

#main_nav li:hover {
box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#main_nav ul ul {
  display: none;
  position: absolute;
}

#fact_cont {
    display:flex;
    justify-content: center;
}

#fact_box{
    font-size:20;
    text-align: center;
}


/*<!-- HTML !-->
<button class="button-30" role="button">Button 30</button>
*/
/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#p_state{
    width:50%;
}

#p2_state {
  width: 50%;
}

#about_page_cont{
font-family: "JetBrains Mono",monospace;
}

#facts_sect {
    display: flex;
    justify-content: center;
      font-family: "JetBrains Mono",monospace;

}

#fact_cont {
    font-family: "JetBrains Mono",monospace;

}
.about_cont{
      border-width: 3px;
    border-style: solid;
    border-color: 36395A;
      border-radius: 8px;
      height:500px;
      width: 300px;
      margin: 10px;
}


#slide_show {
  width: 230px;
  height: 230px;
}
#slide_show img {
  width: 100%;          
  height: 100%;         
}

#slide_show_cont {
  display:flex;
  justify-content: center;
}


#home_dir {
  margin: auto;
  width: 100%;
  height: 30%;
  text-align: center;
  margin-top:200px;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  font-family: "JetBrains Mono",monospace;
  padding: 50px;
  
}